#navbar{
    flex-direction: column;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
    overflow: hidden ;
    height: 80px;
}

#traning .items{
    flex-direction: column;

}
#traning .items .item{
    width: 100%;
}
.courses .course{
    flex-direction: column;
}
.courses .courses .course-image img{
    width: 100px;
    height: 100px;
}
