*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    /*color: white;*/
}

html{
    font-family: 'Open Sans', sans-serif;
}

/* Navbar Section */
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 80px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;

}
#navbar ul li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.5rem;
}

#navbar-menu{
    display: flex;
    justify-content: end;
}

#navbar .user-menu .user-menu_items .user-menu_item .user-menu_link{
    padding: 1rem;
    position: relative;
}

.user-menu_items .truck{
    color: #ef3d07;
    position: absolute;
    top: 20px;
    left: 42px;
}
.user-menu_items .uye{
    color: #ef3d07;
    position: absolute;
    top: 20px;
    left: 25px;
}

.user-menu_items .basket{
    color: #ef3d07;
    position: absolute;
    top: 20px;
    left: 33px;
}
.user-menu_title span{
    position: absolute;
    top: 10px;
    left: 48px;
    background-color: #dcd1d1;
}

.user-menu_title{
    color: black;
    display: block;
    font-size: .875rem;
    padding-top: 5px;
    margin-top: 20px;
}

hr{
    background: #0e304e;
    height: 1rem;
}
.card-deck :hover{
    border-color: white;
    z-index: 1;
}
.discount-span {
    background: red;
    padding: 0.20rem;
    color: white;
    border-radius: 3px;
}
.card-body{
    position: relative;
}
.card-body .ucretsiz-teslimat{
    position: absolute;
    top: 0;
    left: 2px;
}
.middle-container{
    max-width: 100%;
    margin: 0;
    padding: 2rem 4rem;
}
.form-inline{
    width: fit-content;
}
header div nav form .form-control{
     width: 30rem;
     margin-right: 5px;

 }
/* --------------------- Cart Page -------------------- */
.products-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}
.products-container ion-icon{
    font-size: 25px;
    color: red;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-title{
    width: 45%;
}
.price{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.quantity{
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
.product{
    width: 45%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.products img{
    width: 75px;
}
.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotalTotal{
    width: 15%;
}




/* Contact */
#contact{
    color: white;
    padding: 1rem;
}
#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center; /*  align items kullanmadık çünkü width kısıyordu*/
}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover{
    opacity: 0.8;
}
