*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    /*color: white;*/
}

html{
    font-family: 'Open Sans', sans-serif;
}

/* Navbar Section */
#navbar{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 80px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;

}
#navbar ul li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.5rem;
}

#navbar-menu{
    display: flex;
    justify-content: end;
}

#navbar .user-menu .user-menu_items .user-menu_item .user-menu_link{
    padding: 1rem;
    position: relative;
}

.user-menu_items .truck{
    color: #ef3d07;
    position: absolute;
    top: 20px;
    left: 42px;
}
.user-menu_items .uye{
    color: #ef3d07;
    position: absolute;
    top: 20px;
    left: 25px;
}

.user-menu_items .basket{
    color: #ef3d07;
    position: absolute;
    top: 20px;
    left: 33px;
}

.user-menu_title{
    color: black;
    display: block;
    font-size: .875rem;
    padding-top: 5px;
    margin-top: 20px;
}

hr{
    background: #0e304e;
    height: 1rem;
}
.card-deck :hover{
    border-color: white;
    z-index: 1;
}
.discount-span {
    background: red;
    padding: 0.20rem;
    color: white;
    border-radius: 3px;
}
.card-body{
    position: relative;
}
.card-body .ucretsiz-teslimat{
    position: absolute;
    top: 0;
    left: 2px;
}
.middle-container{
    max-width: 100%;
    margin: 0;
    padding: 2rem 4rem;
}
.form-inline{
    width: fit-content;
}
 header div nav form .form-control{
     width: 30rem;
     margin-right: 5px;

 }
@media (max-width: 958px){

}
